h1 {
    color: #6F97AB;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

h3 {
    color: lightgrey;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
    font-family: "Times New Roman", Times, serif;
}

li {
    float: left;
}

a:hover{
  background-color: lightgrey;
  color: darkgray;
}

li a {
    display: block;
    color: #6F97AB;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
}